# Migrate CUSTOM_PATH

[Unit]
Description=Check IP change. If IP is changed, reflect on aws and notify to Discord or etc.

[Service]
Environment="AWS_DDNS_PATH=<CUSTOM_PATH>"
ExecStart="<CUSTOM_PATH>/start.sh"
