# Migrate MY_PATH

[Unit]
Description=Check IP change. If IP is changed, reflect on aws and notify to Discord or etc.

[Service]
Environment="AWS_DDNS_PATH=[[[MY_PATH]]]"
ExecStart=$AWS_DDNS_PATH/start.sh